recursive-include python/tests *.py
include MANIFEST.in
include MANIFEST
include python/HISTORY
include setup.py
recursive-include python/phonenumbers *.db
recursive-include python/tests *.db
exclude .*ignore