Source: python-phonenumbers
Section: python
Priority: optional
Maintainer: Torge Szczepanek <debian@cygnusnetworks.de>
Build-Depends: debhelper (>= 9), python-all, python-setuptools
Standards-Version: 3.9.6

Package: python-phonenumbers
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Python port of Google libphonenumber
 This is a Python port of Google's libphonenumber library, from
 https://github.com/googlei18n/libphonenumber.
 It supports Python 2.5-2.7 and Python 3.x (in the same codebase, with
 no 2to3 conversion needed).
